<div class="about-container">
  <h2>About the Angular Crash Course</h2>
  <p>
    Welcome to the Angular Crash Course! This course is designed for beginners who want to learn Angular,
    one of the most popular JavaScript frameworks for building web applications.
  </p>

  <p>
    In this course, you will learn the fundamentals of Angular, including components, services, routing,
    and HTTP communication. By the end of the course, you will have a solid understanding of how to build
    powerful and interactive web applications using Angular.
  </p>

  <p>
    Whether you are new to web development or have experience with other frameworks, this crash course
    will get you up to speed with Angular in no time.
  </p>
</div>
